@media screen and (max-width: 1140px){
    .container{
        max-width: 100%;
    }  
}

/*769px*/
@media screen and (max-width: 768px){
    .container{
        max-width: 100%;
    }
}

/*375px*/
@media screen and (max-width: 576px){
    /*generics*/
    body{
        font-size: 24px;
    }

    h1{
        font-size: 3.7rem;
    }

    h2{
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    /*utils*/

    .container{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
        gap: 60px;
    }

    /*column*/

    .why-us .col-left, .why-us .col-right, .steps .col, .lessons .col{
        width: 100%;
    }

    /* lesson-steps images */

    .lessons .col img, .steps .col img{
        height: 300px;
    }

    /*why us section*/

    .why-us .container{
        background-color: #222;
        padding: 50px 20px;
    }

    .steps, .why-us{
        margin-bottom: 0;
    }

}