/*769px*/
@media screen and (max-width: 768px){
    .container{
        max-width: 100%;
    }
}

/*375px*/
@media screen and (max-width: 375px){

    /* lesson section */
    
    .container{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
        gap: 60px;
    }

    .lessons .col {
        width: 100%;
    }

    /* steps section */

    .steps .col {
        width: 100%;
    }

    /* why us section*/

    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }

}