/*769px*/
@media screen and (max-width: 768px){
    .container{
        max-width: 100%;
    }
}

/*375px*/
@media screen and (max-width: 375px){

    /* lesson section */

    .container{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
        gap: 60px;
    }

    h1{
        font-size: 2.4rem;
    }

    .lessons .col {
        width: 100%;
    }

    /* steps section */

    .steps .col {
        width: 100%;
    }

    /* why us section*/

    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }

    
    /* why us bgcolor */
    
    .why-us .container {
        background-color: #222;
        padding: 50px 15px;
    }

    .steps{
        margin-bottom: 0;
    }

    .why-us{
        margin-bottom: 0;
    }
}